<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Gestion des monstres</title>
      
        <link rel="stylesheet" href="../contents/css/main.css">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

        <script src="../node_modules/jquery/dist/jquery.slim.js"></script>
        <script src="../node_modules/popper/index.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
   
   <body class="bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark row pl-3">
        <a class="navbar-brand col-1 pl-3" href="#">
          <img src="../contents/Images/logo.png" width="50px" height="30" class="d-inline-block align-top" alt="">
        </a>
        <a class="nav-link col-1 text-light" href="../View/index.html">Home</a>
      </nav>


      <div class="row pt-5">
        <div class="col-4"></div>
        <div class="container col-4 bg-dark pt-3 pb-3" style="width: 350px;">
          <div class="row" style="padding-left: 25px;">
            <div class="container col-5">
              <label class="text-light" style="padding-right: 5px;">Nom</label>
              <input type="text" class="row" style="width: 150px; margin-left: 0px;"  id="NomMonstre">
            </div>
            <div class="container col-5">
              <label class="text-light">Nombre</label>
              <input type="number" class="row" value="0" min="0" style="width: 50px; margin-left: 0px;"  id="Nombre">
            </div>
          </div>
          <div class="row pt-3">
            <div class="col text-center">
              <button class="btn btn-danger" onclick="AjouterMonstre()" id="Ajouter">Ajouter</button>
            </div>
          </div>
        </div>
        <div class="col-4"></div>
      </div>

      <div id="names">
  
      </div>

      <script src="../renderer.js"></script>
        <script>
          function AjouterMonstre(){

          }
        </script>
    </body>

</html>